.track-border {
  border-bottom: 3px solid #513A37;
  padding-bottom: 10px;
  width: 600px;
  margin: 10px auto;
}

.tracks {
  display: flex;
  height: 70px;
  width: calc(100% - 30px);
  /* justify-content: center;  */
  margin: 0 auto;
  /* background-color: rgba(205, 144, 105, 0.7); */
  align-items: flex-start;
}

.second-line {
  white-space: nowrap;
  overflow: hidden;              /* Hide the overflow */
  display: block;
  max-width: 100%;               /* Adjust based on the container size */
  box-sizing: border-box;
  text-overflow: ellipsis;
}


.tracks-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
  justify-content: space-evenly;
  height: 100%;
  flex-grow: 1;
  width: calc(100% - 60px);
}

.tracks-info > h2, p {
  margin: 0;
  color: #513A37;
}

.track-icons {
  /* align-self: flex-end; */
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 15px;
  font-size: 1.5rem;
  color: #513A37;
}
