.search-results {
  background-color: rgba(255, 255, 255, 0.7);
  height: 650px;
  width: 650px;
  margin-top: 75px;
  border-radius: 75px;
  overflow-y: scroll;
}

.search-results > h2 {
  color: #513A37;
}


@media screen and (max-width:1500px) {
  .search-results {
    width: 450px;
  }
}

@media screen and (max-width:1000px) {
  .search-results {
    gap: 10px;
  }
}
