/* .tracks-card {
  background-color: rgba(255, 255, 255, 0.7);
  height: 650px;
  width: 650px;
  margin-top: 75px;
  border-radius: 75px;

}

.tracks-card > h2 {
  margin: 0;
  padding: 10px;
  color: #513A37;
} */

